@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  direction: rtl;
  font-family: Rubik, sans-serif;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  max-width: 100% !important;
  direction: rtl;
}

td:not(.border-0),
th {
  border: 1px solid black;
  padding: 2px 5px;
}

td {
  text-align: center;
}

@media print {
  .hide-when-print {
    display: none;
  }
}

.loading-spinner {
  animation: spin 1s steps(8, end) infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
